@charset "UTF-8";

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  color: #2a2a2a;
  background-color: #f0f0f0;
  font-family: "Noto Sans JP", sans-serif;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 5%;
}

.sec-title {
  text-align: center;
  font-size: 32px;
  padding: 90px 0 60px 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #2a2a2a;
}

li {
  list-style: none;
}

.flex-parent {
  display: flex;
}

/*////////////////////////////////////////////////////////////////////
ヘッダー
/////////////////////////////////////////////////////////////////////*/

#header .gnavi {
  display: flex;
  justify-content: flex-end;
}

#header .gnavi li {
  margin: 20px 0;
  /* margin-bottom: 20px; */
}

#header .gnavi li a {
  font-size: 16px;
  display: block;
  padding: 10px 20px;
  position: relative;
}

.gnavi li a:hover {
  color: #c69c6d;
}

.gnavi li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  /*線になる丸の形状*/
  width: 100%;
  height: 5px;
  border-radius: 50%;
  background: #c69c6d;
  transition: all 0.3s;
  transform: scale(0.04, 1); /*X方向0.04、Y方向1*/
  transform-origin: center bottom; /*中央下部基点*/
}

.gnavi li a:hover::after {
  height: 2px; /*縦幅を変化*/
  border-radius: 0; /*丸みをなくす*/
  transform: scale(0.8, 1); /*X方向0.8、Y方向1にスケール拡大*/
}

/*/ ///////////////////////////////////////////////////////////////////
フッター
/////////////////////////////////////////////////////////////////////*/

#footer p {
  text-align: center;
  margin: 25px 0;
  font-size: 10px;
}

/* ふわっと出現させる */

.fadeUpTrigger {
  opacity: 0;
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
